/2-typescript/.idea
/2-typescript/out
/2-typescript/node_modules
/1-exemplo-nodejs/node_modules
/3-servidor-http-typescript-node/node_modules
/3-servidor-http-typescript-node/out
/3-servidor-http-typescript-node/.idea
/4-cliente-angular/node_modules
/4-cliente-angular/.idea
/4-cliente-angular/app/**/*.js
/4-cliente-angular/app/**/*.js.map
