/2-typescript/.idea
/2-typescript/out
/2-typescript/node_modules
/1-exemplo-nodejs/node_modules
/3-servidor-http-typescript-node/node_modules
/3-servidor-http-typescript-node/out
/3-servidor-http-typescript-node/.idea
/4-cliente-angular/node_modules
/4-cliente-angular/.idea
/4-cliente-angular/app/**/*.js
/4-cliente-angular/app/**/*.js.map
/4-bootstrapgrid/.idea
/4-bootstrapgrid/node_modules
/5-cliente-angular/.idea
/5-cliente-angular/node_modules
/5.1-RxJS/.idea
/5.1-RxJS/node_modules
/5.1-RxJS/out
/7-java8-novidades/.idea
/7-java8-novidades/target
/7-java8-novidades/*.iml
/6-java8-novidades/target
/6-java8-novidades/.idea
/6-java8-novidades/*.iml
/7-docker/.vagrant
/9-rancher/.vagrant
