<section class="row well">
  <h2>Tarefas</h2>
  <table class="table table-striped" *ngIf="tasks?.length > 0">
    <tbody>
    <tr *ngFor="let task of tasks; let i = index;">
      <td>
        {{task}}
      </td>
      <td width="30px">
        <a href="javascript:void(0)" class="btn btn-danger btn-fab btn-fab-mini" (click)="deletar(i);"><i class="material-icons">delete_forever</i></a>
      </td>
    </tr>
    </tbody>
  </table>

  <p *ngIf="tasks?.length == 0">
    Nenhum tarefa encontrada!
  </p>

  <a [routerLink]="['/newtask']" class="btn btn-raised btn-primary">Adicionar</a>
  <a href="javascript:void(0);" class="btn btn-raised btn-danger" (click)="deletarTodos()">Limpar</a>
</section>

